@import '../../../scss/main.scss';

.each-card{
    height: 100%;
    cursor: pointer;
    border: none;
    border-right: 1px solid rgb(225, 224, 224);
    font-family: 'Barlow', sans-serif;


    h5{

        font-size: 1rem;
    }
    
}




