.toggle--button{
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    display: table;
}

.toggle--add{
    background-color: red;
}
.toggle--delete{
    background-color: rgb(79, 131, 199);
}