@import '../../../scss/variables.scss';
@import '../../../scss/base/typography.scss';

.login-form{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $secondary-color;
    color: white;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    padding: 10rem 0rem 10rem 0rem;

    img{
        width:15%;
    }

    input{
       width:15rem;
       text-align: center;
       border:none;
       border-bottom: 1px solid $primary-color;
       background: transparent;
       font-size: 1rem;
    }
    ::placeholder {
        color: white;
        letter-spacing:1px;
    }


    input[type="date"]::-webkit-calendar-picker-indicator {
        cursor: pointer;
        filter: invert(1);
    }
    
    button{
        width: 6rem;
        height: 2rem;
        font-size: 0.9rem;
        color: $primary-color;
        border: 1px solid $primary-color;
        background: transparent;
        border-radius: 5px;

    }
    button:hover{
        color: white;
        background: $primary-color;
    }
    a{
        color: white;
    }
    a:hover{
        color: $primary-color;
    }
}