@import '../../../scss/variables.scss';

.signup-form{
    width:40rem;
    height: 50rem;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color:$fourth-color;
    background-color: $secondary-color;
    opacity: 0.8;
    border-radius: 1rem;

    h2{
        font-size: 2rem;
        margin-top: 1rem;
    }

    input{
        width: 20rem;
        font-size: 1.2rem;
        border-radius: 0.2rem;
        border: 0.5px solid grey;
        text-align: center;
    }
    
    button{
        width:15rem;
        height: 3rem;
        margin-bottom: 1rem;
        border:none;
        border-radius: 0.3rem;
        color: $fourth-color;
        background-color:$primary-color;
        

    }
    button:hover{
        color: $secondary-color;
        background-color:$fourth-color;
    }
}