@import '../../../scss/main.scss';

ul{
    width: 30%;
    list-style: none;
    font-family: 'Barlow', sans-serif;

    a{
        border: none;
        text-decoration: none;
        background-color: transparent;
        font-size: 1rem;
        letter-spacing: 1px;
        list-style: none;
    }

    a:hover{
        border-bottom: 2px solid $primary-color;
        color: $third-color;
        font-weight: 600;
    }

    button{
        font-size: 1rem;
        letter-spacing: 1px;
        border:none;
        border-radius: 3px;
        background-color: transparent;
    }

    button:hover{
        border: 2px solid $primary-color;
        color: $third-color;
        font-weight: 600;
    }   
}